HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Editor directories and files
**/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.log
.*/
*/.*/
!/.gitignore
*.DS_Store
docs/
plan/
AGENTS.md
CLAUDE.md
*.json
openspec

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.gradle/
/loggingFile_IS_UNDEFINED
